@import url('https://fonts.googleapis.com/css?family=Oswald');

@font-face {
  font-family: "Built";
  src: url(../assets/fonts/built.ttf);
    font-feature-settings: "liga" 0;
}

@font-face {
  font-family: "Built light";
  src: url(../assets/fonts/built_light.ttf);
}

/* Le canvas doit s'afficher sur la totalité de l'écran.
Les éléments de l'interface seront ajoutés au dessus grâce à un positionnement absolu */

html, body, .interface, #dark {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#renderCanvas {
    width: 100%;
    height: 100%;
    touch-action: none;
    z-index : 1;
}

body {
    position : relative;
}

h1 {
  font-family: 'Built';
  color: whitesmoke;
  font-size: 48pt;
  text-shadow: -10px -10px 0 black;
}

/**************************************************************
************************* INTERFACE ***************************/

#crosshair {
    height : 3vh;
    width : 3vh;
    position : absolute;
    top : 48.5vh;
    left : calc(50vw - 1.5vh);
}

/***** GENERAL *****/
.interface {
    position : absolute;
}

p {
    font-family: 'Built light';
    color : whitesmoke;
    letter-spacing: 1px;
    line-height: 1.2em;
}

.joueurActif>*, .joueurPassif>* {
    position : absolute;
    top : 0;
    left : 0;
}

.carte {
    border-radius: 4%;
}

#dark img+img, .carte, .action img{
    cursor : pointer;
}

/***** JOUEUR ACTIF *****/

/* TABLEAU DE JOUEUR */
.joueurActif {
    --largTabJoueur: 60vw;
    max-height: calc(var(--largTabJoueur) * 0.32);
    max-width: var(--largTabJoueur);

    background-image: url(../assets/images/backgrounds/tableau_joueur.png);
    background-size: contain;
    background-repeat: no-repeat;

    bottom: -17vh;
    left: calc((100vw - var(--largTabJoueur)) / 2);

    transition : bottom 0.3s cubic-bezier(0.68,-0.01,0.44,1);
    overflow: visible;
}

.joueurActif:hover {
    bottom: 0;
}

.joueurActif>img {
    height: 100%;
    width: 100%;

}

/* DIV INVESTIGATEUR */
.joueurActif .investigateur {
    display: flex;
    flex-direction: column;
    align-items: center;

    /* Marges */
    left : 2%;
    top : 6%;
    max-width : 20%;
    max-height: 100%;

    padding : 5px;
    box-sizing: border-box;
}

.joueurActif .investigateur * {
    margin : 0 0 4% 0;
    text-align: justify;
}

.joueurActif .investigateur p:nth-child(2) {
    font-family: 'Built';
    font-size: 1.6vw;
    margin-top: -6px;
    text-shadow: -2px 2px 7px black;
}

.joueurActif .investigateur p:nth-child(3) {
    font-family: 'Built';
    font-size: 1.5vw;
    text-shadow: -2px 2px 0 black;
    color: #BCCA9B;
    margin-top: -9px;
}

.joueurActif .effet, .effet {
    font-size: 0.6vw;
    font-family: 'Oswald';
    width: 100%;
    padding: 20px 10px;
    text-shadow: -2px 2px 0 black;
    text-align: center;
    background-image: url(../assets/images/backgrounds/description_joueur.png);
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
    z-index: 3;
    cursor: pointer;
}

.joueurActif .investigateur div{
    background-image: url(../assets/images/backgrounds/description_joueur.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    padding-left: 25px;

}

.joueurActif .investigateur img {
    max-height: auto;
    max-width: 55%;
    border-radius: 1000px;
    border: 10px solid black;
    box-shadow: 1px 1px 35px black;
}

/* MAIN */

.joueurActif .main {
    max-width: 80%;
    left: 26%;
    top: 38%;
    padding-left: 4%;
}

.joueurActif .main img {
    position: relative;
    margin-left: -9%;
    transition : transform 0.5s;
    height : 11vw;
}

.joueurActif .main img:hover {
    transform : scale(1.1);
    z-index : 3;
}

/* SANTE MENTALE */

.joueurActif .santeMentale {
    display : flex;
    top: 0;
    left: 0;
    max-width: 35%;

    top : 8%;
    left : 25%;
}

.joueurActif .santeMentale img {
    border-radius: 100px;
    max-width : 18%;
    align-self:center;
    margin-right: 3px;
}

.joueurActif .santeMentale p {
    display : none;
}

/* NOMBRE ACTIONS */

.nbActions {
    display : flex;
    justify-content: center;
    align-items: center;
    border-radius: 1000px;
    background-image: url(../assets/images/backgrounds/action.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width : 7vh;
    height : 7vh;

    left : 82%;
    top : 3%;
    box-sizing: border-box;
}

.nbActions p {
    font-size: 30pt;
    font-weight: bold;
    margin : 0;

    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6),
        -1px 1px 10px rgba(0, 0, 0, 0.6),
        -1px -1px 10px rgba(0, 0, 0, 0.6),
        1px -1px 10px rgba(0, 0, 0, 0.6);
}

/***** JOUEUR PASSIF *****/

/* GENERAL */
.joueurPassif {
    --largeur : 33vw;
    max-width : var(--largeur);
    max-height : calc(var(--largeur) * 0.39);

    background-image: url(../assets/images/backgrounds/tableau_joueur_resume.png);
    background-size: contain;
    background-repeat: no-repeat;

    left: -22.5vw;
    transition : left 0.5s;
    overflow: visible;

}

.joueurPassif:hover {
    left: 0;

}

/* INVESTIGATEUR */

.joueurPassif .investigateur {
    top : 10%;
    left : 65%;

    display : flex;
    flex-direction: column;
    align-items: center;
}

.joueurPassif .investigateur img {
    max-width: 100%;
    border-radius: 100px;
    margin : 0;
    margin-bottom: 2%;
    margin-top: -2%;

    max-width : 35%;
    z-index : 2;
    border: 8px solid black;
    box-shadow: 1px 1px 35px black;
}

.joueurPassif .investigateur p {
    margin : 0;
}

.joueurPassif .investigateur p:nth-child(2),
.joueurPassif .investigateur p:nth-child(3) {
  font-size: 1.7em;
  font-family: 'Built';
}

.joueurPassif .investigateur p:nth-child(2) {
    margin-top: 5%;
}

.joueurPassif .investigateur p:nth-child(3) {
  text-shadow: -2px 2px 0 black;
  color: #BCCA9B;
}

.joueurPassif .effet {
  display: none;
}

/* MAIN */

.joueurPassif .main {
    position: relative;
    max-width: 65%;
    max-height: 95%;
    top: 10%;
    left: 3%;
}

.joueurPassif .carte {
    height : 10vw;
}

.joueurPassif .carte:not(:first-child) {
   margin-left: -25%;
}

/* SANTE MENTALE ET ACTIONS */

.joueurPassif .santeMentale img{
    display:none;
}

.joueurPassif .santeMentale {
    height: 3.5vw;
    width : 3.5vw;
    left : 100%;
    top: 49%;
    background-image: url(../assets/images/backgrounds/folie.jpg);
    background-size: contain;
    border-radius: 100px;
}

.joueurPassif .nbActions{
    background-image: url(../assets/images/backgrounds/action.jpg);
    height: 3.5vw;
    width : 3.5vw;
    left : 100%;
    top: 21%;
    border-radius: 100px;
}

.joueurPassif .nbActions p{
    font-family: 'Built';
}

.joueurPassif .santeMentale p {
    margin-top: 0.3vw;
    left:0;
    font-size: 2.5vw;
    text-align: center;
    text-shadow: 2px 2px 3px black, -2px 2px 3px black;
    font-family: 'Built';
}

/***** POSITIONNEMENT JOUEUR 2 *****/
.j2 {
    top: 10vh;
}

/***** POSITIONNEMENT JOUEUR 3 *****/
.j3 {
    top : 36vh;
}

/***** POSITIONNEMENT JOUEUR 4 *****/
.j4 {
    top: 62vh;
}

/***** BOITES DE DIALOGUE *****/

#dark {
    position : absolute;
    top : 0;
    left : 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 5;
    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
}

#dark .popup-container {
  height: 80vh;
  width: 80vw;
  position: relative;
}

.flex-column, #dark .relique {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-container .effet {
  font-size: 30pt;
  z-index: 7;
}

#dark .quitter {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: -80px;
  margin-right: -80px;

  z-index: 7;
  height: 100px;
  width: 100px;
  cursor: pointer;
}

#dark .carte {
  max-height: 65%;  /* INDISPENSABLE */
  transition: all 0.5s;
}

#dark .carte:hover {
  z-index: 8;
  transform: scale(1.1);
  transition: all 0.5s;
}

#dark button {
  color: white;
  border-radius: 10px;
  font-size: 3em;
  font-family: 'Built';
  margin: 0;
  padding: 0;
  width: 15vw;
  height: 2em;
  overflow: visible;
  transition: all 0.5s;
  background-image: url(../assets/images/boutton_valider.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}

#dark button:hover {
  transform: scale(1.1);
  transition: all 0.8s;
}

#dark .select {
  transform: scale(1.2);
  box-shadow: 10px 10px 10px rgb(130, 241, 217),
        -10px 10px 10px rgb(130, 241, 217),
        -10px -10px 10px rgb(130, 241, 217),
        10px -10px 10px rgb(130, 241, 217);
}

#dark p {
    color:white;
}
 /* GRANDS ANCIENS */

#gdAnciens {
    top: -9px;
    left: 0;
    position: absolute;
    width: 100vw;
    display:flex;
    justify-content: center;
    margin-top: 10px;
}

#gdAnciens img {
    height: 5.3vw;
    width: 5.3vw;
    object-fit: cover;
    margin: 0 15px;
    border-radius: 5000px;
    border: 5px solid #0E0E0E;

}

.ancien--cache{
    background-image: url(../assets/images/grandsAnciens/tableau_grand_ancien_resume_cacher.png);
    background-repeat: no-repeat;
    background-size: 140px 300px;
    background-position: center;
    height: 40px;
    top: -165px;
}

.ancien--decouvert{
    cursor: pointer;
    top: -170px;
    background-image: url(../assets/images/grandsAnciens/tableau_grand_ancien_resume_decouvert.png);
    background-repeat: no-repeat;
    height: 50px;
    background-size: 140px 300px;
    background-position: center;
    transition : top 0.5s;
}

.ancien--decouvert:hover {
    top: 0;
    transition : top 0.5s;
}
.ancien {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 200px;
  margin-left: 5px;
  margin-right: 5px;
}

.ancien p {
  font-size: 2em;
  font-family: 'Built';
  text-shadow: 2px 2px 3px black;
  margin-top: -96%;

}

.ancien p:nth-of-type(2) {
    position: absolute;
    max-width: 7vw;
    font-size: 1em;
    top: 17vh;
    width: 80%;
    font-family: 'Oswald';
    text-shadow: 2px 2px 1px black;


}

.ancien--cache p {
    display: none;
}

.ancien--cache[data-num="cthulhu"] p:first-of-type {
    display: block;
}


/*travail de Ludovic sur la pop-up d'affichage de grand ancien. Sans doute à revoir*/

#sectionReveil{
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    position: absolute;
    background-color: rgba(15, 45, 3, 0.23);
    display: flex;
    justify-content:center;
}

#sectionReveil>div{
    position: relative;
    width: 50%;
    height: 80%;
    background-color: #686157;
    border-radius: 20px;
    box-shadow: 10px 10px 20px;
    margin-top: 5%;
}

#sectionReveil>div>div{
    margin: 10px 5%;
    width: 90%;
    height: 50%;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 20px;
}

#sectionReveil>div>p:first-of-type{
    font-size: 200%;
}

#sectionReveil>div>p{
    text-align: center;
}

#sectionReveil button{
    margin-left: 10%;
}

/* ACTIONS */

#actions {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    display : flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 50px;
}

#actions>div:first-child {
    min-height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 4;
}

.action {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.action img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    transform: scale(1);
    transition: transform 0.5s;
}

.action p {
    font-family: 'Built';
    opacity: 0;
    z-index: -1;
    transition: opacity 0.5s;
    margin-right: 10px;
}

.action img:hover+p {
    opacity: 1;
    z-index: 1;
    transition: opacity 0.5s;
}

.action img:hover {
    transform : scale(1.2);
    transition: transform 0.5s;
}

.action--cache {
    display: none;
}

#actions>div:last-child img {
    height: 150px;
    width: 150px;
}

/* LE MAL SE REPAND */

.lmsr {
    transform: scale(1.3);
    animation-name: lmsr;
    animation-duration: 5s;
    animation-timing-function: cubic-bezier(.07, .84, .68, 1.01);
}

@keyframes lmsr {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.3);
    }
}

/**************************************************************
************************* INTERFACE 2-3 ***************************/


@media screen and (max-width: 1400px){

    /***** JOUEUR ACTIF *****/

/* TABLEAU DE JOUEUR */
    .joueurActif {
    --largTabJoueur: 81vw;
    bottom: -14.5vh;
    left: 22vh;
    z-index: 1;
}
