

@import url('https://fonts.googleapis.com/css?family=Oswald');

@font-face {
  font-family: "Built";
  src: url(../assets/fonts/built.ttf);
    font-feature-settings: "liga" 0;
}

@font-face {
  font-family: "Built light";
  src: url(../assets/fonts/built_light.ttf);
}

*{
    margin: 0;
}

body{
    background-color: black;
}

main{
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-image: url(../assets/images/backgrounds/menu.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#menu{
    height: 100%;
    width: 50%;
    padding-top: 10%;
    margin-left: 50%;
}

#menu>div{
    height: auto;
    margin: 4vh 0;
    width: 50%;
    margin-left: 40%;
    text-align: center;
    transition: all 0.2s linear;
}

#menu>div:hover{
    transform: scale(1.2);
    transition: all 0.3s cubic-bezier(.87, -0.01, .51, 1.01);
}

a {
    font-family: 'Built light';
    color : whitesmoke;
    letter-spacing: 1px;
    line-height: 1.2em;
    font-size: 4vw;
    padding: 2%;
    transition: all 0.2s linear;
    text-decoration: none;
}

#menu a:hover{
    transform: scale(1.2);
    transition: all 0.3s cubic-bezier(.87, -0.01, .51, 1.01);
    color: #c7c013;
    text-shadow: 0 0 5px #767600;
}

#temporaire{
    text-align: center;
    font-family: Oswald;
    font-size: 2vw;
    color : whitesmoke;
    position: absolute;
    left: 20%;
    transform: rotate(-3deg);
    animation: 1.3s infinite cubic-bezier(.68, .01, .23, 1.01) alternate temporaire;
}
#temporaire>p:nth-child(2){
    color: aqua;
}

@keyframes temporaire{
    0%{top : 82%;}
    100%{top : 78%;}
}

/**************REGLE**************/
#regle{
    margin: 0;
    background-color: black;
    position: absolute;
    top: 150vh;
    width: 100vw;
    height: 100vh;
    transition: top 1.5s cubic-bezier(0, .07, 0, 1.04);
    overflow-y: scroll;
    padding: 0;
    border: 0;
}
#regle>div{
    width: 100vw;
}